<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SVN.RiotApi.UrlSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SVN.RiotApi.VersionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SVN.RiotApi.UrlSettings>
            <setting name="ProfileIcon" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/{0}/img/profileicon/{1}.png</value>
            </setting>
            <setting name="ChampionSplash" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{0}_0.jpg</value>
            </setting>
            <setting name="ChampionSquare" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/{0}/img/champion/{1}.png</value>
            </setting>
            <setting name="Spell" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/{0}/img/spell/{1}.png</value>
            </setting>
            <setting name="Item" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/{0}/img/item/{1}.png</value>
            </setting>
            <setting name="Mastery" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/{0}/img/mastery/{1}.png</value>
            </setting>
            <setting name="Rune" serializeAs="String">
                <value>http://ddragon.leagueoflegends.com/cdn/{0}/img/rune/{1}.png</value>
            </setting>
            <setting name="SummonerByAccount" serializeAs="String">
                <value>https://{1}.api.riotgames.com/lol/summoner/v4/summoners/by-account/{2}?api_key={0}</value>
            </setting>
            <setting name="SummonerByName" serializeAs="String">
                <value>https://{1}.api.riotgames.com/lol/summoner/v4/summoners/by-name/{2}?api_key={0}</value>
            </setting>
            <setting name="Matchlist" serializeAs="String">
                <value>https://{1}.api.riotgames.com/lol/match/v4/matchlists/by-account/{2}?api_key={0}</value>
            </setting>
            <setting name="Match" serializeAs="String">
                <value>https://{1}.api.riotgames.com/lol/match/v4/matches/{2}?api_key={0}</value>
            </setting>
            <setting name="CurrentGame" serializeAs="String">
                <value>https://{1}.api.riotgames.com/lol/spectator/v4/active-games/by-summoner/{2}?api_key={0}</value>
            </setting>
        </SVN.RiotApi.UrlSettings>
        <SVN.RiotApi.VersionSettings>
            <setting name="DDRAGON_ID" serializeAs="String">
                <value>6.24.1</value>
            </setting>
        </SVN.RiotApi.VersionSettings>
    </userSettings>
</configuration>